@page "/reports"
@using Telerik.ReportViewer.Blazor
@inject HttpClient HttpClient;

<h2>Reports</h2>

<style>
    #rv1 {
        position: relative;
        width: 1100px;
        height: 800px;
    }
</style>

<TelerikDropDownList Data="@ReportList" Value="@SelectedReport" OnChange="ReportSelection"></TelerikDropDownList>
<br />
<br />
<ReportViewer @ref="rv1" ViewerId="rv1"
              ServiceUrl="/api/reports"
              ReportSource="@(new ReportSourceOptions()
                              {
                                  Report = SelectedReport
                              })"
              Parameters="@(new ParametersOptions { Editors = new EditorsOptions { MultiSelect = EditorType.ComboBox, SingleSelect = EditorType.ComboBox } })"
              ScaleMode="@(ScaleMode.Specific)"
              Scale="1.0" />

@code {

    public string SelectedReport { get; set; } = "Dashboard.trdp";
    public List<string> ReportList { get; set; }
    public ReportViewer rv1;
    protected async override Task OnInitializedAsync()
    {
        ReportList = await HttpClient.GetFromJsonAsync<List<string>>("/api/files");
        SelectedReport = ReportList.First();
    }

    private async Task ReportSelection(object report)
    {
        Console.Write(report.ToString());
        SelectedReport = report.ToString();
        await rv1.RefreshReportAsync();
    }
}
